[{:itonami.blueprint/social-impact [:worker-safety :load-safety :infrastructure-reliability]
  :itonami.blueprint/domain :construction/rigging-crew-site-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "7215"
  :itonami.blueprint/name "Rigging and Cable Splicing Crew Site Coordination Practice"
  :itonami.blueprint/governor :rigger-coord-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-7215"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
